@charset "utf-8";
.searchArea .inputTextType5, .searchArea .btnType5 {margin-bottom:10px}
.searchArea .datePicker {width:80px}
.searchArea .selectBox1 {width:auto; min-width:100px}
.searchArea span.bunch {line-height:2.4em}

.listTable tr th {padding:10px 10px}
.listTable tr td {padding:14px 4px}
.listTable td.check				{width:5%; text-align:center;}
.listTable td.num				{width:5%; text-align:center;}
.listTable td.subject_name		{width:auto; text-align:left;padding-left:10px;}
.listTable td.estimate_year		{width:8%; text-align:center;}
.listTable td.estimate_year_term{width:12%; text-align:center;}
.listTable td.term_name			{width:50px; text-align:center;}
.listTable td.set_flag_name		{width:80px; text-align:center;}
.listTable td.title				{width:30%; text-align:left;padding-left:10px;}
.listTable td.state_flag_name	{width:70px; text-align:center;}


/* 내보내기 */
.export {display:none;position:absolute;right:0;position: fixed;width:452px;left: 50%;margin-left: -226px;height:320px;top: 50%;margin-top: -160px;line-height:1;z-index:99}
.exportForm {padding:29px 30px 40px 30px;background:#fff;border:1px solid #c6c6c6;}
.export h3 {float:none;padding:0 0 20px 35px;border-bottom:1px solid #003777;background:url(../../../../image/ko/solution/common/ico/sendFormIco.png) no-repeat;margin-bottom:20px;font-size:25px;color:#003777}
.export dt {margin-bottom:15px;color:#1a1a1a}
.export dd {margin-bottom:20px}
.export .exportType {margin-bottom:27px}
.exportType ul {overflow:hidden}
.exportType li {position:relative;float:left;width:48px;height:78px;margin-left:20px;text-align:center}
.exportType li:first-child {margin-left:0}
.exportType label {display:block;width:48px;height:55px;text-indent:-9999em}
.exportType input {position:absolute;bottom:0;left:50%;margin-left:-7px}
.exportType .exportExcel label {background:url(../../../../image/ko/solution/common/ico/excel.png) no-repeat;}
.exportType .exportAPA label {background:url(../../../../image/ko/solution/common/ico/APA.png) no-repeat;}
.exportType .exportMLA label {background:url(../../../../image/ko/solution/common/ico/MLA.png) no-repeat;}
.range ul {overflow:hidden}
.range li {float:left;width:50%;margin-bottom:10px}
.range input {vertical-align:-2px}

.export .buttons {margin-top:10px}
.export .notice {display:none;margin-bottom:40px}

@media screen and (min-width:0px) and (max-width:767px){
.basketHeader {margin-top:20px;}
.basketHeader p {position:inherit;left:15px;top:0;;}
.export {width:300px;left: 50%;margin-left: -150px;height:232;top: 50%;margin-top: -116px;padding-top:0;}
.exportForm {padding:14px 20px 20px 20px;border:1px solid #c6c6c6;}
.export h3 {padding:0 0 10px 0;background:none;font-size:18px}
.export dt {margin-bottom:10px}
.export dd {margin-bottom:10px}
.export .exportRange {margin-bottom:10px}
.export .exportType {padding-bottom:10px;margin-bottom:20px;border-bottom:1px solid #b3b3b3}
.export .exportType li {position:relative;float:left;width:50%;height:auto;margin-left:0;margin-bottom:10px;text-align:left}
.export .exportType label {display:inline;width:auto;height:auto;background:none !important;text-indent:0}
.export .exportType input {position:relative;bottom:0;left:0;margin-left:0;vertical-align:-2px}
.export .exportMail dd {margin-bottom:20px}
.export .exportMail input {padding:0 5px}
.export .buttons {margin-top:0}
.export .notice {margin-bottom:20px}
}