@charset "utf-8";

/* Message */
.messageW{
	margin:40px 0 0;
	padding:0 120px
}
.message{
	border:1px solid #e6e6e6;
	background-color:#f7f7f7
}
.message > div{
	padding:60px 65px;
}
.message p.msgIcon{
	margin-bottom:20px;
	text-align:center
}
.message p.msgIcon img{
	width:119px;
	height:120px;
}
.message p.msgTextArea{
	font-family:Noto Sans Regular,"본고딕",sans-serif;
	font-size:24px;
	text-align:center;
	line-height:1.3em
}

/* Message-tablet */
@media (min-width:768px) and (max-width:1024px){
	.messageW{
		margin:50px 0 0;
		padding:0 20px
	}
	.message > div{
		padding:40px 65px;
	}
	.message p.msgIcon img{width:109px;height:110px}
	.message p.msgTextArea{
		font-size:20px;
		text-align:center;
		line-height:1.3em
	}
}

/* Message-mobile */
@media (min-width:0) and (max-width:767px){
	.messageW{
		margin:50px 20px 0;
		padding:0 0
	}
	.message > div{
		padding:30px 40px;
	}
	.message p.msgIcon{
		margin-bottom:10px
	}
	.message p.msgIcon img{
		width:90px;
		height:90px
	}
	.message p.msgTextArea{
		font-size:14px;
		line-height:1.5em
	}
}

.msgParagraph{
	position:relative;
	padding:6px 10px 6px 35px;
	font-size:13px
}
.msgCheck{
	border:1px solid #44b149;
	color:#44b149
}
.msgWarning{
	border:1px solid #ff5a00;
	color:#ff5a00
}
.msgError{
	border:1px solid #f11515;
	background-color:#ffffff;
	color:#f11515
}
.msgInfo{
	border:1px solid #3b6ab3;
	color:#3b6ab3
}
.msgQna{
	border:1px solid #3cb296;
	color:#3cb296
}
.msgParagraph img{
	width:20px;
	height:20px;
	position:absolute;
	top:3px;
	left:10px;
}

span.error{display:block;color:#f11515;font-size:13px;}

.message .msgDetail{
	margin-top:20px;
	color:#777;
	font-size:14px
}