@charset "utf-8";

.searchDetail {line-height:1}

#divContents{overflow:hidden}

/* table */
table{
	width:100%;
	border:none;
	border-collapse:collapse;
}
table th{
	border:none;
	background-color:#f3f3f3;
	color:#727272
}
table td{
	border:none
}

/* list */
.listTable{
	clear:both;
	border-top:1px solid #b3b3b3;
	border-bottom:1px solid #b3b3b3;
	text-align:center
}
.listTable tr:hover{
	background-color:#fcf9ce
}
.listTable th{
	padding:10px 0
}
.listTable td{
	padding:10px 0;
	border-top:1px solid #e6e6e6
}
.listTable .footable-row-detail-inner{
	padding:0 20px;
	text-align:left
}
.listTable tr th{
	height:40px;
	padding:10px 8px
}
.listTable tr td{
	padding:14px 10px
}
.listTable .title{
	text-align:left
}
/* 게시판 목록 - 모바일 */
@media (min-width:0px) and (max-width:768px){
	.always td.alwaysNum{
		width:10%
	}
	.mobileTable.breakpoint > tbody > tr.always > td.title{
		background-color:#e8f9fe
	}
}

.searchLink {position:relative;height:38px;padding:0 0 0 30px;margin-bottom:2px;background:#f9f9f9;border:1px solid #dbdbdb;border-right:0 none;z-index:10}
.searchLink h3 {float:left;padding:13px 0 0 15px;background:url(../../../../image/ko/solution/common/ico/profileArrow.png) no-repeat 0 17px;font-size:14px;font-weight:normal}
.searchLink > a {float:left;padding:13px 0 0 0}
.searchLink .returnResult img{margin-right:5px}
.searchLink .searchLinkBtn {float:right}
.searchLink .searchLinkBtn li {float:left;position:relative;height:26px;padding:12px 20px 0 20px;margin:-1px 0 0 -1px;border:1px solid #dbdbdb;z-index:10}
.searchLink .searchLinkBtn li:hover, .searchLink .searchLinkBtn .on {border-color:#b5b5b5;background:#e6e6e6;}
.searchLink .searchLinkBtn li a {display:block;padding:1px 0;color:#4d4d4d}
.searchLink .searchLinkBtn .share a {padding-right:17px;background:url(../../../../image/ko/solution/common/ico/share.png) no-repeat right 2px}
.searchLink .searchLinkBtn .send a {padding-right:24px;background:url(../../../../image/ko/solution/common/ico/send.png) no-repeat right 2px}
.searchLink .searchLinkBtn .marc a, .searchLink .searchLinkBtn .view a, .searchLink .searchLinkBtn .xml a {padding-right:21px;background:url(../../../../image/ko/solution/common/ico/view.png) no-repeat right 0}
.searchLink .searchLinkBtn .basketSelect a {padding-right:28px;background:url(../../../../image/ko/solution/common/ico/basket_select.png) no-repeat right -1px}
.searchLink .searchLinkBtn .basketView a {padding-right:28px;background:url(../../../../image/ko/solution/common/ico/basket_view.png) no-repeat right -1px}
.searchLink .searchLinkBtn .mylist a{padding-right:20px;background:url(../../../../image/ko/solution/common/ico/myList.png) no-repeat 100% 0}
.searchLink .searchLinkBtn .errorreport a {padding-right:21px;background:url(../../../../image/ko/solution/common/ico/errorreport.png) no-repeat right 0px}
@media screen and (min-width:0px) and (max-width:1024px){
	.searchLink .returnResult img{margin-right:0}
	.searchLink .returnResult span{display:none}
}
@media screen and (min-width:0px) and (max-width:767px){
	.searchLink .searchLinkBtn .basketSelect a {background-position:50% 50%}
	.searchLink .searchLinkBtn .basketView a {background-position:50% 50%}
	.searchLink .searchLinkBtn .mylist a{background-position:50% 50%}
	.searchLink .searchLinkBtn .errorreport a {background-position:50% 50%}
}


/* 공유 */
#share {display:none;position:absolute;top:28px;right:0;width:178px;padding:11px 0 0 0;border:0 none;background:url(../../../../image/ko/solution/common/bg/shareBG.png) no-repeat;z-index:100}
#share .shareInner {padding:20px 30px 15px 30px;background:#fff;border:1px solid #c6c6c6;border-top:0 none;}
.addthis_toolbox .shareInner a {position:relative;display:block;height:13px;padding:8px 0 5px 24px;color:#aaa;font-size:13px}
.addthis_toolbox .at4-icon {display:block;position:absolute;left:0;top:5px;width:16px;height:16px;text-indent:-9999em}
.aticon-rss {background:url(../../../../image/ko/solution/common/btn/addthis_button_rss.png) no-repeat}
.aticon-facebook {background:url(../../../../image/ko/solution/common/btn/addthis_button_facebook.png) no-repeat}
.aticon-myspace {background:url(../../../../image/ko/solution/common/btn/addthis_button_myspace.png) no-repeat}
.aticon-twitter {background:url(../../../../image/ko/solution/common/btn/addthis_button_twitter.png) no-repeat}
.aticon-favorites {background:url(../../../../image/ko/solution/common/btn/addthis_button_favorites.png) no-repeat}
.aticon-google {background:url(../../../../image/ko/solution/common/btn/addthis_button_google.png) no-repeat}
.addthis_toolbox .more {padding-top:10px}
.addthis_toolbox .more a {padding:5px 0;text-align:center}
.addthis_toolbox .more span {display:none}

/* 내보내기 */
.export{top:35px !important;}
 
.profile {padding:30px;margin-bottom:40px;border:1px solid #dbdbdb}
.profile .profileHeader {margin-bottom:20px}
.profile .profileHeader h3 {margin-bottom:5px;font-size:25px;color:#003d54;line-height:1.2}
.profile .profileHeader h3 span {color:#305ed6}
.profile .profileHeader p {font-size:20px;color:#737373}

.profile .profileContent{position:relative;overflow:hidden;padding-right:198px;min-height:380px}
.profile .profileContent2 {position:relative;overflow:hidden;padding-right:370px;min-height:380px}
.profile .table {width:100%;word-break:break-all}
.profile .table a{color:#305ed6;text-decoration:underline}
.profile .table .media a{display:inline-block;height:20px;margin-right:5px;background:#9cafb8;color:#fff;text-align:center;font-size:12px;text-decoration:none;line-height:20px}
.profile th, .profile td {height:28px;vertical-align:top;line-height:2;color:#4d4d4d;}
.profile #divProfile td {width: 85%; padding: 0 10px;}
.profile #divMarcProfile th {width: 100px; padding: 0 10px;}
.profile #divMarcProfile td {width: auto; padding: 0 10px;}
.profile #divMarcProfile td.indicator{width:20px}
@media screen and (min-width:768px) and (max-width:1024px){
	.profile #divProfile td {width: 80%; padding: 0 10px;}
}
@media screen and (min-width:0px) and (max-width:767px){
	.profile{padding:30px 15px}
	.profile  #divProfile  td{width: 62%; padding: 0 10px;}
	.profile #divMarcProfile  th {width:20%;}
	.profile #divMarcProfile  td {width: auto; padding: 0 10px;}
}

#dlInfo th, #dlInfo td {height:26px;padding:0;line-height:1.8}
.profile th {background:none;color:#333;text-align:right;font-weight:normal}
.profile #moreInfo th, .profile #dlInfo th {width:150px}
.profile #marcInfo th {min-width:35px;text-align:center}
.profile #marcInfo td {min-width:25px}
.profile #moreInfo td, .profile #dlInfo td {padding:0 0 0 20px;}
.profile #dlInfo th strong {color:#1a1a1a;font-size:15px}
.profile table a:not(.media a) {color:#0eabc4}
.profile #moreInfo a {text-decoration:underline}

.profile .briefInfo {position:absolute;right:185px;top:0;width:178px;padding:9px 0 0 0}
.profile .profileContent .briefInfo{right:0}
.profile .briefInfo dt {display: none}
.profile .briefInfo dd.bookImg {margin-bottom:10px;width:178px;height:245px; }
.profile .briefInfo dd.bookImg img {width:178px;height:245px}
.profile .briefInfo dd.dbImg img{width:176px;height:auto;border:1px solid #dbdbdb}
.profile .briefInfo dd {margin-bottom:10px}
.profile .briefInfo dd span {float:right;font-size:30px;color:#f54747}
.profile .briefInfo .addWriteBtn {text-align:center;text-indent:20px}
.profile .briefInfo .addWriteBtn a {display:block;height:31px;padding:0 10px;background:url(../../../../image/ko/solution/common/bg/write.png) no-repeat 46px 50% #eb7578;color:#fff;line-height:31px;}
.profile .briefInfo .readBookBtn {text-align:center;text-indent:20px}
.profile .briefInfo .readBookBtn a {display:block;height:31px;padding:0 10px;background:url(../../../../image/ko/solution/common/bg/read.png) no-repeat 20px 50% #70AD47;color:#fff;line-height:31px;}
.profile .briefInfo .bookInfoBtn{text-align:center}
.profile .briefInfo .bookInfoBtn a{margin-left:7px}
.profile .briefInfo .bookInfoBtn a:first-child{margin-left:0}
.profile .briefInfo .bookInfoBtn a img{width:26px;height:23px;vertical-align:middle}
.profile .briefInfo .bookInfoBtn2{width:178px}
.profile .briefInfo .bookInfoBtn2 a{display:inline-block;width:50%;height:31px;color:#fff;background-color:#6ad0b4;line-height:31px;text-align:center}
.profile .briefInfo .bookInfoBtn2 a:first-child{background-color:#a3d371}
.profile .briefInfo .bookInfoBtn3{width:178px}
.profile .briefInfo .bookInfoBtn3 a{display:block;height:31px;background-color:#b7b7b7;color:#fff;line-height:31px;text-align:center}
.profile .briefInfo .bookBg {position:absolute;left:0;top:0;display:block;width:178px;height:255px;background:url(../../../../image/ko/solution/common/bg/bookGuideL.png) no-repeat;background-size:100% 100%}

.profile .qrCode{position:absolute;left:auto;right:0;top:0;width:163px;padding:9px 0 0 0}
.profile .qrCode > dl > dt{display:none}
.profile .qrCode dd.qrCodeImg {margin-bottom:10px;width:161px;height:243px;border:1px solid #dbdbdb}
.profile .qrCode dd.qrCodeImg p{margin:47px 0 8px;color:#b2b2b2;font-size:20px;text-align:center}
.profile .qrCode dd.qrCodeImg img {display:block;margin:0 auto 0;border:1px solid #ececec;vertical-align:bottom}
.profile .qrCode dd.manual a.manualBtn{display:block;height:31px;padding:0 10px;text-align:center;background-color:#83c440;color:#fff;font-size:14px;line-height:31px}
.profile .qrCode dd.manual dl{display:none;position:absolute;top:0;right:0;width:434px;padding:36px 36px 21px 36px;border:1px solid #dbdbdb;background-color:#f9f9f9}
.profile .qrCode dd.manual dl dt{margin-bottom:5px;padding-left:20px;background:url(../../../../image/ko/solution/common/bg/qrCodeTitBg.gif) no-repeat 0 50%;color:#4f4f4f;font-weight:bold}
.profile .qrCode dd.manual dl dd{margin-bottom:15px;padding-left:20px;color:#797979;font-size:13px}
.profile .qrCode dd .manualClose{display:none;position:absolute;top:11px;right:10px;}

.profile .qrCode{position:absolute;left:auto;right:0;top:0;width:163px;padding:9px 0 0 0}
.profile .qrCode > dl > dt{display:none}
.profile .qrCode dd.qrCodeImg {margin-bottom:10px;width:161px;height:243px;border:1px solid #dbdbdb}
.profile .qrCode dd.qrCodeImg p{margin:47px 0 8px;color:#b2b2b2;font-size:20px;text-align:center}
.profile .qrCode dd.qrCodeImg img {display:block;margin:0 auto 0;border:1px solid #ececec;vertical-align:bottom}
.profile .qrCode dd.manual a.manualBtn{display:block;height:31px;padding:0 10px;text-align:center;background-color:#83c440;color:#fff;font-size:14px;line-height:31px}
.profile .qrCode dd.manual dl{display:none;position:absolute;top:0;right:0;width:434px;padding:36px 36px 21px 36px;border:1px solid #dbdbdb;background-color:#f9f9f9}
.profile .qrCode dd.manual dl dt{margin-bottom:5px;padding-left:20px;background:url(../../../../image/ko/solution/common/bg/qrCodeTitBg.gif) no-repeat 0 50%;color:#4f4f4f;font-weight:bold}
.profile .qrCode dd.manual dl dd{margin-bottom:15px;padding-left:20px;color:#797979;font-size:13px}
.profile .qrCode dd .manualClose{display:none;position:absolute;top:11px;right:10px;}

#marcInfo, .searchLink .view {display:none}

.searchInfo {position:relative;padding-bottom:40px}
.searchInfo .searchHeader {height:40px;margin:0;padding:0 17px 0 20px;background:#46a0b6}
.searchInfo .searchHeader h3 {background:url(../../../../image/ko/solution/common/ico/sectionArrowDown.png) no-repeat right 18px;color:#fff;font-size:20px;line-height:42px;cursor:pointer}
.searchInfo .searchHeader h3.open {background:url(../../../../image/ko/solution/common/ico/sectionArrowUp.png) no-repeat right 20px;}
.searchInfo .searchHeader h3 a{color:#fff}
.searchInfo .searchHeader h3 a.help{display:inline-block;width:16px;height:16px;background:url(../../../../image/ko/solution/common/ico/serviceInfoIco2.png) no-repeat 50% 0;text-indent:-9999px;overflow:hidden}
.searchDetail2 .recommenderLayer > div .searchHeader h3 a.help{display:inline;background:none;text-indent:0;}
.searchInfo .searchHeader span {color:#baf5ff;font-size:14px}
.searchInfo .searchContents {padding-top:20px}
.searchInfo .paging {margin-top:0}
.searchInfo .paging a {position:absolute;top:50%;right:7px;margin-top:-14px;border:none}
.searchInfo .paging a:first-child{left:7px;right:auto}
.searchInfo .paging img {width:auto;height:auto}

/***** 추천 서비스 start *****/
.searchLink{margin-right: 0 !important;}
.searchDetail > div{margin-right:228px;}
.recommenderLayer{position:absolute;top: 223px;right:133px;width:226px;margin-right:0 !important}
.recommenderLayer h3{margin-bottom:15px;color:#4a4a4a;font-size:14px;text-align:center;line-height:16px}
.recommenderLayer h3 a{vertical-align:middle;margin-left:5px}
.recommenderLayer h3 a img{vertical-align:top}
.recommenderLayer .titDetail{border:1px solid #e6e6e6;color:#777;font-size:13px;margin:0 5px 25px;padding:5px 10px;text-align:center;line-height:17px; display:none;}
.recommenderLayer .prev, .borrowedBook .next{position:absolute;top:50%}
.recommenderLayer .prev{left:20px}
.recommenderLayer .next{right:20px}
.recommenderLayer ul li{width:140px;margin:0 auto 10px;text-align:center}
.recommenderLayer ul li a img{width:136px;height:177px}
.recommenderLayer ul li a span{display:block;margin-top:10px;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.recommenderLayer .message{margin:0 30px;width:161px;height:194px;background:url(/image/ko/solution/local/messageIcon.png) no-repeat 50% 37px #f0f0f0;border:1px solid #e2e2e2;color:#7f7f7f;font-size:13px;}
.recommenderLayer .message p{padding:117px 0 0;text-align:center;line-height:1.3;}
.recommenderLayer .loading{margin:0 30px;width:161px;height:194px;background:url(/image/ko/solution/common/ico/loading3.gif) no-repeat 50% 37px;color:#7f7f7f;}

/* 추천기별 Layer */
.borrowedBook .prev, .recommenderLayer .next{position:absolute;top:50%}
.borrowedBook .prev{left:20px}
.borrowedBook .next{right:20px}
.borrowedBook .message{margin:0 30px;width:161px;height:150px;background:url(/image/ko/solution/local/messageIcon.png) no-repeat 50% 37px #f0f0f0;border:1px solid #e2e2e2;color:#7f7f7f;font-size:13px;}
.borrowedBook .message p{padding:117px 0 0;text-align:center;line-height:1.3;}
.borrowedBook .loading{margin:0 30px;width:161px;height:194px;background:url(/image/ko/solution/common/ico/loading3.gif) no-repeat 50% 37px;color:#7f7f7f;}


.recommenderLayer .message{width:auto;margin:0 0 30px 0;text-align:center}
.recommenderLayer .titDetail{margin:0 0}
.recommenderLayer > div > div.searchContents{position:relative;padding:30px 25px 43px;overflow:hidden;border:1px solid #dbdbdb}


/* 이 자료의 원작보기 */
.recommenderLayer a.more{position:absolute;top:0;right:0}

/***************************추천기 뷰어를 반응형으로 하고 싶다면 아래 영역 삭제*********************************************/
	.browsing {padding:31px 15px 0 0}
	.browsing dl {width:108px}
	
	/* 도서 추천 시스템 영역 이 책과 대출한 도서 */
	.searchDetail > div{margin-right:0}
	.recommenderLayer{position:static;width:auto;overflow:hidden}
	.recommenderLayer h3{text-align:left}
	.recommenderLayer > div{position:relative;}
	.recommenderLayer .prev, .recommenderLayer .next{top:50%;margin-top:-14px}
	.recommenderLayer .prev{left:0}
	.recommenderLayer .next{right:0}
	.recommenderLayer > div ul li{float:left;width:20%;text-align:center}
	.recommenderLayer > div ul li a{position:relative;display:inline-block;width:136px}
	.recommenderLayer > div ul li a img{border:1px solid #ccc;vertical-align:top}
	.recommenderLayer .loading{margin:0 50%;left:-80px;}
	
	/* 추천기별 Layer */
	.borrowedBook .prev{left:7px}
	.borrowedBook .next{right:7px}
	
/***************************추천기 뷰어를 반응형으로 하고 싶다면 위 영역 삭제*********************************************/	
/***** 추천 서비스 end *****/


/* 소장처 */
.searchTabs {overflow:hidden;padding-top:2px;margin-bottom:18px}
.searchTabs li {float:left;padding:0 15px;background:url(../../../../image/ko/solution/common/bg/searchTabLine.gif) no-repeat}
.searchTabs li:first-child {padding-left:0;background:none}
.searchTabs li a {font-size:16px;color:#1a1a1a}
.searchTabs .tabOn a {color:#305ed6}

dl.service {height: 1px;}
dl.service dt {position:absolute;top:60px;right:0;height:17px;padding:1px 6px 0 20px;background:url(../../../../image/ko/solution/common/ico/serviceInfoIco.png) no-repeat;cursor:pointer}
dl.service dd {display:none;position:absolute;top:96px;right:0;width:161px;padding:21px 0 2px 32px;background:#fff;border:1px solid #aaa;z-index: 100;}
dl.service li {height:21px;margin-bottom:8px;font-size:13px;text-align:left}
dl.service .serviceIco {position:relative;top:-3px;display:inline-block;margin-right:12px;vertical-align:top;}

.searchTable {}
.searchTable tr th {padding:10px 10px;line-height:1.2}
.searchTable tr td {padding:13px 10px;line-height:1.2}
.searchTable .sort {color:#727272}
.searchTable .status.available, .searchTable .status.status01 {color:#305ed6}
.searchTable .status.ing, .searchTable .status.status02 {color:#46b048}
.searchTable .status.disabled {color:#ee2b2d}

.searchTable .reservation.available {color:#248bd8}
.searchTable .reservation.ing {color:#46b048}
.searchTable .reservation.disabled {color:#ee2b2d}
.searchTable .reservation span {display:block}

.searchTable .service img {display:inline-block;margin-left:2px;vertical-align:middle}
.searchTable .info img {display:inline-block;margin-left:2px;vertical-align:middle}

.searchTable .minWidth55 {min-width:55px}
.searchTable .minWidth90 {min-width:90px}
.searchTable .infoBtn {}
.searchTable .infoBtn li:first-child {margin-bottom:1px}
.searchTable .infoBtn a {display:inline-block;height:26px;padding:0 10px;line-height:26px;color:#fff}
.searchTable .infoBtn .checkinBtn {background:#65ade1;border:1px solid #50a2de;}
.searchTable .infoBtn .checkinBtnOn {background:#ff9a67;border:1px solid #ff8f54;}
.searchTable .infoBtn .bindingBtn {background:#43cbc1;border:1px solid #31c2b7;color:#fff}
.searchTable .infoBtn .bindingBtnOn {background:#e5ba32;border:1px solid #ddb020}

/* 권호 제본 정보 */
.infoView {position:relative;padding-top:40px}
.infoView .service dt{top:40px}
.infoView .service dd{top:66px}
.infoViewHeader {overflow:hidden;margin-bottom:5px}
.infoView h4 {float:left;font-size:20px}
#checkin h4 {padding-top:15px}
.infoView .infoViewSelect {float:right}
.infoView .infoViewSelect p {float:left;padding:12px 10px 0 0;}
.infoView .infoViewSelect .infoViewYear {}
.searchTable tr td{position:relative}
.searchTable .appendixInfo{position:absolute;left:-50px;width:185px;height:auto;padding:5px;border:1px solid #8790c3;font-size:11px;color:#333;background-color:#f5f5f5}

/* 목차 */
.mediaContent {padding-bottom:35px;border-bottom:1px dashed #ccc}
.mediaContent div {line-height:1.6}
.mediaContent .full {display:none}
.mediaContents .button {text-align:center}
.mediaContents .button a {display:inline-block;width:100px;height:33px;border:1px solid #878787;border-top:0 none;line-height:35px;color:#4d4d4d;text-align:center}
.mediaContents .button .close {display:none}
.mediaContents .button.moreClose a {display:none}
.mediaContents .button.moreClose .close {display:inline-block}
.mediaContents .button span {display:inline-block}
.mediaContents .button .more span {width:19px;height:10px;background:url(../../../../image/ko/solution/common/ico/plusIco.png) no-repeat}
.mediaContents .button .close span {width:25px;height:10px;background:url(../../../../image/ko/solution/common/ico/closeIco.png) no-repeat 0 1px}
.mediaContents .bookintroLink{color:#a3a3a3; margin-top: 20px;}
.mediaContents .bookintroLink a{color:#a3a3a3;}
/* 매체정보 */
.media a {display:inline-block;width:36px;height:16px;margin-right:5px;background:#9cafb8;color:#fff;text-align:center;font-size:12px;line-height:17px}

/* 청구기호 Browsing */
.browsingW .searchContents {padding-top:0;background:url(../../../../image/ko/solution/common/bg/browsingBg.png) no-repeat 0 100%;background-size:100% 10px}
.browsing {padding:30px 15px 8px 15px;border:1px solid #dbdbdb}
.browsing ul {overflow:hidden}
.browsing li {float:left;width:20%;text-align:center}
.browsing dl {display:inline-block;width:111px;height:178px;padding:20px;background:url(../../../../image/ko/solution/common/bg/bookGuideBrowsingWhite.png) no-repeat;background-size:100% 100%;line-height:1.5;text-align:left}
.browsing li.selected dl {background:url(../../../../image/ko/solution/common/bg/bookGuideBrowsingWhiteOn.png) no-repeat;background-size:100% 100%}
.browsing dt {overflow:hidden;height:60px;margin-bottom:15px;color:#00b3a6}
.browsing dt a {color:#00b3a6}
.browsing dd {}

/* 이분야의 인기자료 */
.bookDataW .searchContents {padding:30px 25px 0;border:1px solid #dbdbdb}
.bookData {overflow:hidden}
.bookData ul {overflow:hidden}
.bookData li {float:left;width:20%;text-align:center}
.bookData li div {position:relative;display:inline-block;width:140px}
.bookData dl {margin-top:10px}
.bookData dt {margin-bottom:5px;color:#000;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:left}
.bookData dd {text-align:left;line-height:1.5;color:#000;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.bookData li a {position:relative;display:block}
.bookData li img {width:136px;height:177px;;border:1px solid #ccc;vertical-align:top}
.bookData li .lineBg {display:block;position:absolute;left:0;top:0;width:96px;height:138px;background:url(../../../../image/ko/solution/common/bg/bookGuide.png) no-repeat;background-size:100% 100%}

.bookData .prevBook{display:none;position:absolute;top:50%;left:20px;margin-top:-60px}
.bookData .nextBook{display:none;position:absolute;top:50%;right:20px;margin-top:-60px}
@media screen and (min-width:0) and (max-width:767px){
	.bookData .prevBook{display:none}
	.bookData .prevBook.on{display:block}
	.bookData .nextBook{display:none}
	.bookData .nextBook.on{display:block}
	.bookData li{display:none}
	.bookData li.on{display:block}
}

.bookDataW .button {margin-top:33px}
.bookDataW .button {text-align:center}
.bookDataW .button a {display:inline-block;width:109px;height:39px;border:1px solid #dbdbdb;border-bottom:none;background-color:#fff;line-height:39px;color:#4d4d4d;text-align:center}
.bookDataW .button .close {display:none}
.bookDataW .button.moreClose a {display:none}
.bookDataW .button.moreClose .close {display:inline-block}
.bookDataW .button span {display:inline-block}
.bookDataW .button .more span {width:19px;height:10px;background:url(../../../../image/ko/solution/common/ico/plusIco.png) no-repeat 0 0}

/* 서평 */
.commentW {}
.commentW .notice {height:33px;padding-top:7px;font-size:13px;color:#737373}
.commentW .notice span {color:#f34e05}
.commentW .addWrite .noticeStar {display:inline-block;margin-left:12px;font-size:13px;color:#f34e05}
.commentW .starSelect {display:inline-block;width:185px}
.commentW div.starSelect {position:relative;}
.commentW .starSelect img {height:14px}
.commentW .starSelect dt {height:33px;background:#fff;border:1px solid #d1d0cf;line-height:2.8em}
.commentW .starSelect dt a {display:block;padding:0 0 0 10px;background:url(../../../../image/ko/solution/common/ico/selectOpt.png) no-repeat 100% 0}
.commentW .starSelect dd {display:none;position:absolute;top:34px;left:0;width:100%;background:#fff;z-index:100}
.commentW .starSelect ul {overflow-y:scroll;max-height:200px;border:1px solid #d1d0cf;}
.commentW .starSelect li {}
.commentW .starSelect li a {display:block;height:15px;padding:5px 10px}
.commentW .starSelect li:hover a {background:#c8def4}

.commentW .comments {margin-top:0}
.commentW .comment {border:0 none;border-top:1px solid #e6e6e6}
.commentInput {border-top:1px solid #e6e6e6; padding:10px 220px 10px 20px}
.commentInput .writeBtn {right: 120px}
.commentInput .deleteBtn {right: 20px}
.commentW .commentWriter {margin-bottom:10px}

.reviewContent {padding:20px 0 15px 0;border-bottom:1px solid #ededed}
.reviewContent dt {margin-bottom:10px;color:#1a1a1a}
.replyList {margin-bottom:10px}
.replyList ul {overflow:hidden}
.replyList li {float:left;padding:0 9px 0 12px;background:url(../../../../image/ko/solution/common/bg/replyListLine.png) no-repeat 0 center;font-size:13px;color:#737373}
.replyList li a {display:inline-block;color:#737373}
.replyList li:first-child {padding-left:0;background:none}
.replyList .score img {height:11px}
.replyList .author {color:#1a1a1a}
.replyList .recommendCnt span {color:#dd9154}
.replyList .recommend a {padding:1px 0 0 20px;background:url(../../../../image/ko/solution/common/ico/replyIcoRecommend.png) no-repeat;}
.replyList .replayWrite a {padding-left:16px;background:url(../../../../image/ko/solution/common/ico/replyIcoWrite.png) no-repeat}
.replyList .replyDelete a {padding-left:20px;background:url(../../../../image/ko/solution/common/ico/replyIcoDelete.png) no-repeat 0 1px}
.reviewContent .replyComment {padding-right:20px;line-height:1.5}

/* 태그 */
.tagW {}
.tagW .addWrite {}
.tagW h4 {margin:25px 0 15px 0;font-size:20px;color:#1a1a1a}
.tagW h4 span {font-size:16px;color:#737373}

.tagContents ul {overflow:hidden;border-bottom:1px solid #dbdbdb}
.tagContents li {float:left;}

#tagList li {margin:0 0 25px 50px}
#tagList li span {font-size:13px;color:#999}

#tagCloud {display:none}
#tagCloud li {padding-bottom:5px;margin:0 0 25px 35px;border-bottom:1px solid #e0985e}
#tagCloud li:first-child, #tagList li:first-child {margin-left:0}
#tagCloud .tagSize01 {padding-top:8px;font-size:14px}
#tagCloud .tagSize02 {padding-top:6px;font-size:16px}
#tagCloud .tagSize03 {padding-top:4px;font-size:18px}
#tagCloud .tagSize04 {padding-top:2px;font-size:20px}
#tagCloud .tagSize05 {font-size:22px}
#tagCloud a {color:#e0985e}

/* 서평, 태그 공통 */
.searchInfo .addWriteBtn {position:absolute;top:65px;right:0}
.searchInfo .addWriteBtn a {display: inline-block;padding: 0 10px;line-height: 23px;color: #fff;background-color:#ff7e71;border: none;}
.searchInfo .msgParagraph {z-index:100}
.searchInfo .msgParagraph a {display:inline-block;margin-left:10px;color:#737373;text-decoration:underline}

.addWrite {margin-top:-1px}
.addWrite .addWriteForm {position:relative;padding:30px 20px;background:#f2f2f2;border:1px solid #dbdbdb}
.addWrite .addWriteForm dd {margin-bottom:5px}
.addWrite .addWriteForm .tagView {margin:20px 0 5px 4px}
.addWrite .addWriteForm .inputWrite {width:976px;padding:0 10px;border:1px solid #dbdbdb;color:#737373}
.addWrite .addWriteForm .textareaWrite {width:976px;height:50px;padding:10px;background:#fff;border:1px solid #dbdbdb;color:#737373;font-size:14px;resize:none}
.addWrite .addWriteForm .buttons {margin-top:25px}
.addWrite .addWriteForm .buttons input {height:35px;background:#fff;font-size:14px}
.addWrite .editorBtn {position:absolute;right:20px;bottom:75px}
.addWrite .editorBtn button {padding:0 0 0 16px;border:0 none;background:url(../../../../image/ko/solution/common/ico/editorWriteIco.png) no-repeat left 4px;font-size:13px;color:#737373;outline:none;cursor:pointer;line-height:1.2}
#reviewEditor {display:none;width:100%;min-height:100px;background:#fff}

.tarSelect-selectBox-dropdown-menu a {}

/* 전자자료 */
.searchContents .linkData{margin: 0 20px 2px;padding: 0 10px;background: url("../../../../image/ko/solution/common/ico/bulleIcon1.png") no-repeat 0 5px;}
.searchContents .linkData span{color:#1a96d9;}

@media screen and (min-width:0) and (max-width:1024px){
	.profile .qrCode{display:none}
	.bookData ul {padding:0}
	.addWrite .addWriteForm .inputWrite, .addWrite .addWriteForm .textareaWrite {width:100%;padding-left:0;padding-right:0;text-indent:10px}
}

@media screen and (min-width:768px) and (max-width:1024px){
	.profile .profileContent{padding-right:198px}
	.profile .profileContent2{padding-right:198px}
	.profile .briefInfo{right:0}
	
	.browsing{padding:30px 30px 8px 30px}
	.browsing dl {width:100px;padding:20px 15px}
	
	/***** 추천 서비스 start *****/
	/* 이 책과 함께 대출한 도서 */
	.searchDetail > div{margin-right:0}
	.recommenderLayer{position:static;width:auto;overflow:hidden}
	.recommenderLayer h3{text-align:left}
	.recommenderLayer > div{position:relative;}
	.recommenderLayer .prev, .recommenderLayer .next{top:80px}
	.recommenderLayer .prev{left:0}
	.recommenderLayer .next{right:0}
	.recommenderLayer > div ul li{float:left;width:20%;text-align:center}
	.recommenderLayer > div ul li a{display:inline-block}
	.recommenderLayer .loading{margin:0 50%;left:-80px;}
	
	/* 함께 대출한 DVD */
	
	.borrowedBook .prev{left:0}
	.borrowedBook .next{right:0}
	
	/* 이 자료의 원작보기 */
	.originalBook{position:relative;top:0;width:auto;overflow:hidden}
	.originalBook > div ul li{float:left;width:20%;text-align:center}
	.originalBook > div ul li a{display:inline-block;width:75px}
	/***** 추천 서비스 end *****/
}

@media screen and (min-width:0px) and (max-width:767px){
	.searchTabs{margin-bottom:0;}
	dl.service {height:auto;margin-bottom:18px;text-align:right;}
	dl.service dt {display:inline;position:relative;top:0;right:0;}
	.commentW .notice{height:20px}
	
	.searchLink {height:40px;padding-left:10px}
	.searchLink h3 {padding-top:14px}
	.searchLink .searchLinkBtn li {width:40px;height:40px;padding:0;}
	.searchLink .searchLinkBtn a {display:block;width:40px;height:40px;padding:0 !important;text-indent:-9999em}
	.searchLink .searchLinkBtn .share a {background:url(../../../../image/ko/solution/common/ico/shareM.png) no-repeat;background-size:100% 100%}
	.searchLink .searchLinkBtn .send a {background:url(../../../../image/ko/solution/common/ico/sendM.png) no-repeat;background-size:100% 100%}
	.searchLink .searchLinkBtn .marc a, .searchLink .searchLinkBtn .view a {background:url(../../../../image/ko/solution/common/ico/viewM.png) no-repeat;background-size:100% 100%}
	.searchLink .searchLinkBtn .xml a {background:url(../../../../image/ko/solution/common/ico/xmlM.png) no-repeat;background-size:100% 100%}
	
	#share {top:40px;padding-top:0}
	#share .shareInner {padding:10px 30px 15px 30px;border:1px solid #c6c6c6}
	.addthis_toolbox .shareInner a {padding:10px 0 7px 24px;}
	.addthis_toolbox .at4-icon {top:7px}
	.addthis_toolbox .more {width:120px;margin-top:3px;padding-top:0;border-top:1px solid #d9d7d7}
	.addthis_toolbox .more a {padding:10px 0 0 0}
	
	.profile .profileContent {padding:0}
	.profile .profileContent2{padding:0}
	.profile #moreInfo th, .profile #dlInfo th {width:130px}
	.profile .briefInfo {position:relative;left:0;width:100%;min-height:0}
	.profile .briefInfo dl {overflow:hidden}
	.profile .briefInfo dt {float:left;border:1px solid #dbdbdb}
	.profile .briefInfo dt img {width:69px;height:95px;vertical-align:top}
	.profile .briefInfo dd {margin-left:30px}
	.profile .briefInfo dd img {height:13px}
	.profile .briefInfo dd span {float:left;margin-right:4px;font-size:20px}
	.profile .briefInfo .addWriteBtn {text-align:left;text-indent:0}
	.profile .briefInfo .addWriteBtn a {display:inline-block;width:158px;height:23px;padding:0 10px;line-height:25px;font-size:12px;text-indent:65px;background-position:50px 50%;}
	.profile .briefInfo .bookInfoBtn{width:178px}
	.profile .briefInfo .bookInfoBtn2 a{height:23px;font-size:12px;line-height:25px}
	.profile .briefInfo .bookInfoBtn3 a{height:23px;font-size:12px;line-height:25px}
	.profile .briefInfo .bookBg {left:30px}
	
	/* 소장처 */
	.searchTable thead {display:none}
	.searchTable.breakpoint > tbody > tr > td.footable-last-column {padding:14px 23px 14px 10px;background:url(../../../../image/ko/solution/common/ico/tableOn.png) no-repeat 97% 50%}
	.searchTable.breakpoint > tbody > tr.footable-detail-show > td.footable-last-column {background:url(../../../../image/ko/solution/common/ico/tableOff.png) no-repeat 97% 50%;}
	.searchTable.breakpoint > tbody > tr.footable-detail-show {background:#fcf9ce}
	.searchTable.breakpoint > tbody > tr.footable-row-detail > td.footable-last-column {background:none}
	.searchTable.breakpoint > tbody > tr.footable-row-detail td {padding:20px 15px 10px 15px}
	.searchTable > tbody > tr > td.footable-cell-detail {border-top:none}
	
	.searchTable .footable-row-detail-inner div {margin-bottom:10px}
	.searchTable .footable-row-detail-inner strong {display:inline-block;width:80px;height:18px;margin-right:20px;text-align:right;line-height:18px}
	.searchTable .footable-row-detail-inner .serviceInfo {display:inline-block;overflow:hidden;vertical-align:top;margin-bottom:0}
	.searchTable .footable-row-detail-inner .serviceInfo img {float:left;display:inline-block;margin-right:3px}
	
	.searchTable .reservation span {display:inline}
	
	.searchTableDL .footable-row-detail-inner {padding:0}
	.searchTableDL .footable-row-detail-inner strong {width:120px;margin-right:10px}
	.searchTableDL .infoBtn {display:inline-block;overflow:hidden;vertical-align:top}
	.searchTableDL .infoBtn li {float:left;}
	.searchTableDL .infoBtn li:first-child {margin:0 4px 0 0}
	.searchTableDL .infoBtn li a {height:17px;padding:0 6px;font-size:13px;line-height:18px}
	
	/***** 추천 서비스 start *****/
	/* 이 책과 함께 대출한 도서 */
	.searchDetail > div{margin-right:0}
	.recommenderLayer{position:static;width:auto;overflow:hidden}
	.recommenderLayer h3{text-align:left}
	.recommenderLayer > div{position:relative;}
	.recommenderLayer > div > div{margin:0 40px}
	.recommenderLayer .prev, .recommenderLayer .next{top:50%}
	.recommenderLayer .prev{left:-40px}
	.recommenderLayer .next{right:-40px}
	.recommenderLayer > div ul li{position:relative;float:none;width:auto;margin-top:20px}
	.recommenderLayer > div ul li:first-child{margin-top:0}
	
	/* 함께 대출한 DVD */
	.borrowedBook > div > div{margin:0 40px}
	.borrowedBook .prev, .recommenderLayer .next{top:50%}
	.borrowedBook .prev{left:-40px;}
	.borrowedBook .next{right:0}
	
	/* 이 자료의 원작보기 */
	.originalBook{position:relative;top:0;right:auto;width:auto;overflow:hidden}
	.originalBook h3{text-align:left}
	.originalBook > div ul li{position:relative;float:none;width:auto;min-height:104px;text-align:left}
	.originalBook > div ul li a{display:block;width:auto;min-height:104px}
	.originalBook > div ul li a img{position:absolute;top:0;left:0;}
	.originalBook ul li a span{margin-left:85px}
	/***** 추천 서비스 end *****/
	
	/* 권호 제본 정보 */
	.infoViewHeader {margin-bottom:10px}
	#checkin h4 {padding-top:10px}
	.infoView .infoViewSelect p {display:none}
	
	/* 청구기호 Browsing */
	.browsingW .searchContents {background:none}
	.browsing {padding:0 0 0 0}
	.browsing li {float:none;width:auto;background:#eee;margin-top:1px;text-align:left}
	.browsing li:first-child {margin-top:0}
	.browsing dl {width:100%;height:auto;padding:20px 35px;background:none;box-sizing:border-box}
	.browsing li.selected dl {background:url(../../../../image/ko/solution/common/bg/bookGuideBrowsingOnM.png) no-repeat right bottom;background-size:20px 20px}
	.browsing li.selected {border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
	.browsing dt {height:auto;margin-bottom:10px}
	.browsingW .paging {margin-top:10px}
	
	/* 이분야의 인기자료 */
	.bookData li{float:none;width:auto;margin-top:0;}
	.bookData li:first-child{margin-top:0}
	
	/* 서평 */
	.searchInfo .addWriteBtn{position:relative;text-align:right;margin-bottom:18px;top:0;}
	
	.commentW .starSelect {width:100%}
	.commentW .addWrite .noticeStar {display:none}
	
	.reviewContent {padding:20px 0 15px 0;border-bottom:1px solid #ededed}
	.reviewContent dt {float:left;padding-right:10px}
	.replyList {}
	.replyList dt {}
	.replyList ul {overflow:visible}
	.replyList li {margin-bottom:10px}
	.replyList .score {margin-bottom:15px}
	.replyList .score, .replyList .recommendCnt {float:none}
	.replyList .author, .replyList .recommend {padding-left:0;background:none}
	.reviewContent .replyComment {clear:both;padding:0}
	
	.addWrite .addWriteForm dd {margin-bottom:10px}
	.addWrite .addWriteForm .tagView, .addWrite .editorBtn {display:none}
}

/* 소장처별 묶음처리 경계선 */
.listTable td{border-top:1px dashed #e6e6e6}
.listTable tr.first td{border-top:3px double #e6e6e6}

.qrCodeImg img{width: 150px; heigth:150px;}