@charset "utf-8";
@media screen and (min-width:768px) and (max-width:1024px){
#divContentsW {padding:0 20px 40px 20px}
#divContents {width:100%;padding:0}
}
@media screen and (min-width:0px) and (max-width:767px){
#divContentsW {width:100%}
#divContents {width:100%;padding:0}
a.btnType3{position:absolute;top:0;right:0}
input.btnType3{position:absolute;bottom:0;right:0}
}

.reportBrief {width:100%;line-height:1}
span.title {position:absolute;top:-9999px;visibility:hidden;width:0;height:0;font-size:1%;line-height:0}

.searchKeyword {margin:20px 0 10px 0;color:#737373}
.searchKeyword span {color:#f37109}

.category {margin-bottom:20px}
.category ul {overflow:hidden;padding:20px 20px 10px 20px;background:#eee;border:1px solid #e6e6e6;border-top:1px solid #b3b3b3}
.category li {display:inline}
.category li a {display:inline-block;margin:0 10px 10px 0;padding-left:19px;background:url(../../../../image/ko/solution/common/ico/subjectArrow.png) no-repeat 6px 2px;color:#333;line-height:1.2}

.briefListCover, .briefList {clear:both;width:100%}
.briefListCover h3, .briefList h3 {padding-left:15px;margin:20px 0 10px 0;background:url(../../../../image/ko/solution/common/subTitleBg.gif) no-repeat 0 2px;font-size:16px;color:#1a1a1a}
.briefListCover h3 span, .briefList h3 span {font-size:13px;color:#4d4d4d}
.briefListCover ul, .briefList ul {padding:0 20px;border:1px solid #e6e6e6;border-top:1px solid #b3b3b3}
.briefListCover li, .briefList li {position:relative;padding:18px 0 20px 0;border-top:1px dashed #ddd}
.briefListCover li:first-child, .briefList li:first-child {border-top:0 none}
.briefListCover dl, .briefList dl {width:100%;line-height:1.4}
.briefListCover dt, .briefList dt {width:100%;margin-bottom:3px}
.briefListCover dt a, .briefList dt a {font-size:16px;color:#1a1a1a}
.briefListCover dd, .briefList dd {}

.briefList li {min-height:10px}
.briefList .btnType4 {height:23px;padding:0 15px;line-height:24px;margin-top:6px;}

.briefListCover li {padding-right:75px;min-height:104px}
.briefListCover dl {margin-bottom:6px}
.briefListCover .cover {position:absolute;right:0;top:20px}
.briefListCover .cover img {width:75px;vertical-align:top}
.briefListCover .btnType4 {height:23px;padding:0 15px;line-height:24px}

.reportBrief ul .keyword {color:#305ed6}

.btnW {overflow:hidden;border:1px solid #e6e6e6;border-top:0 none}
.btnW a {display:block;float:left;width:49%;padding:10px 0;text-align:center;color:#737373}
.btnW a:first-child{border-right:1px solid #e6e6e6;}
.btnW a span {display:inline-block;padding-right:15px;background:url(../../../../image/ko/solution/common/ico/reportBriefTop.png) no-repeat right center}
.btnW .moreBtn {margin-left:-2px;color:#248bd8}
.btnW .moreBtn span {background-image:url(../../../../image/ko/solution/common/ico/reportBriefMore.png)}

.reportBriefMore .briefListCover li, .reportBriefMore .briefList li {padding-left:30px}
.reportBriefMore ul .num {position:absolute;left:0;top:19px;color:#1a1a1a;line-height:1.4}

/* 검색 영역 */
.dataSearch {height:35px;margin:20px auto;text-align:center}
.dataSearch form {overflow:hidden;display:inline-block}
.dataSearch fieldset {float:left;width:auto !important}
.dataSearch .selectBox1 {float:left;min-width:80px;margin-right:5px;padding-right:0}
.dataSearch .keyword {float:left;width:340px;height:14px;padding:9px 5px 8px 5px;border:2px solid #248bd8;}
.dataSearch .searchW {float:left} /* 2015-07-31 추가 */
.dataSearch .keyword input {width:100%;border:0 none;outline:none}
.dataSearch .searchBtn {float:left;display:inline-block;width:66px;height:35px;margin-left:-2px;background:#248bd8;border:1px solid #1c7fca;text-align:center;color:#fff}

.listInfo {overflow:hidden;width:100%}
.listInfo1 {padding-top:11px;line-height:1}
.listInfo2 fieldset {float:left}
.listInfo2 .btnType6 {position:relative;margin-left:-1px;z-index:10}

select.selectBox1, select.selectBox2 {height:35px}


@media screen and (min-width:0px) and (max-width:767px){
.category {display:none}

.briefListCover h3, .briefList h3 {position:relative;padding:10px 20px;margin:0 0 0 0;background:url(../../../../image/ko/solution/common/ico/tableOn.png) no-repeat 96% 50%;border:1px solid #e6e6e6;cursor:pointer;z-index:10}
.briefListCover h3.open, .briefList h3.open {background-image:url(../../../../image/ko/solution/common/ico/tableOff.png)}
.briefListCover ul, .briefList ul {border-top:0 none}
.briefListCover li {min-height:97px;padding-right:80px}
.briefListCover .cover img {width:70px;height:97px}

.briefListCover ul, .briefList ul, .btnW {display:none}
.reportBriefMore .briefListCover ul, .reportBriefMore .briefList ul {display:block;border-top:1px solid #b3b3b3}

.btnW a {display:none}
.btnW .moreBtn {display:block;width:100%;border-left:0;margin:0}

.dataSearch {width:100%;height:auto;margin:10px 0}
.dataSearch form {position:relative;display:block;width:100%}
.dataSearch fieldset {display:block;float:none;width:100%}
.dataSearch .selectBox1 {width:100%;margin-bottom:10px}
.dataSearch .keyword {clear:both;float:none;width:auto;padding:9px 80px 8px 0;text-indent:5px}
.dataSearch .searchBtn {position:absolute;right:0;bottom:0}

/* 2015-07-31 추가 */
.dataSearch .searchW {clear:both;float:none;position:relative;width:100%}
.dataSearch .searchW .keyword {display:block;}
}


/* Flickr */
*:first-child+html #divflickr {overflow:hidden}
#divflickr ul{padding:0 7px;overflow:hidden}
#divflickr ul li {display: block;float:left;padding:12px 14px 12px 14px;width:100px;height:140px;background-color:#ffffff;text-align:center;vertical-align:middle;border:none}
#divflickr ul li .photo {display:table-cell;position: static;width:100px;height:100px;margin:0 auto;padding:4px;background-color:#e7e8ea;vertical-align: middle;text-align:center}
#divflickr ul li .photo:hover {border:1px solid #999999}
*:first-child+html #divflickr ul li .photo {display:inline-block;position:static;vertical-align:middle;margin:auto;width:100px;height:100px}
#divflickr .photoTitle {display:block;width:100px;padding:4px 4px 0 2px;}
#divflickr .photoTitle a:hover {color:blue;text-decoration: none;}

@media screen and (min-width:768px) and (max-width:1024px){
#divContentsW {padding:0 20px 40px 20px}
#divContents {width:100%;padding:0}
}
@media screen and (min-width:0px) and (max-width:767px){
#divContentsW {width:100%}
#divContents {width:100%;padding:0}
a.btnType3{position:absolute;top:0;right:0}
input.btnType3{position:absolute;bottom:0;right:0}
}

.reportBrief {width:100%;line-height:1}
span.title {position:absolute;top:-9999px;visibility:hidden;width:0;height:0;font-size:1%;line-height:0}

.searchKeyword {margin:20px 0 10px 0;color:#737373}
.searchKeyword span {color:#f37109}

.category {margin-bottom:20px}
.category ul {overflow:hidden;padding:20px 20px 10px 20px;background:#eee;border:1px solid #e6e6e6;border-top:1px solid #b3b3b3}
.category li {display:inline}
.category li a {display:inline-block;margin:0 10px 10px 0;padding-left:19px;background:url(../../../../image/ko/solution/common/ico/subjectArrow.png) no-repeat 6px 2px;color:#333;line-height:1.2}

.briefListCover, .briefList {clear:both;width:100%}
.briefListCover h3, .briefList h3 {padding-left:15px;margin:20px 0 10px 0;background:url(../../../../image/ko/solution/common/subTitleBg.gif) no-repeat 0 2px;font-size:16px;color:#1a1a1a}
.briefListCover h3 span, .briefList h3 span {font-size:13px;color:#4d4d4d}
.briefListCover ul, .briefList ul {padding:0 20px;border:1px solid #e6e6e6;border-top:1px solid #b3b3b3}
.briefListCover li, .briefList li {position:relative;padding:18px 0 20px 0;border-top:1px dashed #ddd}
.briefListCover li:first-child, .briefList li:first-child {border-top:0 none}
.briefListCover dl, .briefList dl {width:100%;line-height:1.4}
.briefListCover dt, .briefList dt {width:100%;margin-bottom:3px}
.briefListCover dt a, .briefList dt a {font-size:16px;color:#1a1a1a}
.briefListCover dd, .briefList dd {}

.briefList li {min-height:10px}
.briefList .btnType4 {height:23px;padding:0 15px;line-height:24px;margin-top:6px;}

.briefListCover li {padding-right:75px;min-height:104px}
.briefListCover dl {margin-bottom:6px}
.briefListCover .cover {position:absolute;right:0;top:20px}
.briefListCover .cover img {width:75px;vertical-align:top}
.briefListCover .btnType4 {height:23px;padding:0 15px;line-height:24px}

.reportBrief ul .keyword {color:#305ed6}

.btnW {overflow:hidden;border:1px solid #e6e6e6;border-top:0 none}
.btnW a {display:block;float:left;width:49%;padding:10px 0;text-align:center;color:#737373}
.btnW a:first-child{border-right:1px solid #e6e6e6;}
.btnW a span {display:inline-block;padding-right:15px;background:url(../../../../image/ko/solution/common/ico/reportBriefTop.png) no-repeat right center}
.btnW .moreBtn {margin-left:-2px;color:#248bd8}
.btnW .moreBtn span {background-image:url(../../../../image/ko/solution/common/ico/reportBriefMore.png)}

.reportBriefMore .briefListCover li, .reportBriefMore .briefList li {padding-left:30px}
.reportBriefMore ul .num {position:absolute;left:0;top:19px;color:#1a1a1a;line-height:1.4}

/* 검색 영역 */
.dataSearch {height:35px;margin:20px auto;text-align:center}
.dataSearch form {overflow:hidden;display:inline-block}
.dataSearch fieldset {float:left;width:auto !important}
.dataSearch .selectBox1 {float:left;min-width:80px;margin-right:5px;padding-right:0}
.dataSearch .keyword {float:left;width:340px;height:14px;padding:9px 5px 8px 5px;border:2px solid #248bd8;}
.dataSearch .searchW {float:left} /* 2015-07-31 추가 */
.dataSearch .keyword input {width:100%;border:0 none;outline:none}
.dataSearch .searchBtn {float:left;display:inline-block;width:66px;height:35px;margin-left:-2px;background:#248bd8;border:1px solid #1c7fca;text-align:center;color:#fff}

.listInfo {overflow:hidden;width:100%}
.listInfo1 {padding-top:11px;line-height:1}
.listInfo2 fieldset {float:left}
.listInfo2 .btnType6 {position:relative;margin-left:-1px;z-index:10}

select.selectBox1, select.selectBox2 {height:35px}


@media screen and (min-width:0px) and (max-width:767px){
.category {display:none}

.briefListCover h3, .briefList h3 {position:relative;padding:10px 20px;margin:0 0 0 0;background:url(../../../../image/ko/solution/common/ico/tableOn.png) no-repeat 96% 50%;border:1px solid #e6e6e6;cursor:pointer;z-index:10}
.briefListCover h3.open, .briefList h3.open {background-image:url(../../../../image/ko/solution/common/ico/tableOff.png)}
.briefListCover ul, .briefList ul {border-top:0 none}
.briefListCover li {min-height:97px;padding-right:80px}
.briefListCover .cover img {width:70px;height:97px}

.briefListCover ul, .briefList ul, .btnW {display:none}
.reportBriefMore .briefListCover ul, .reportBriefMore .briefList ul {display:block;border-top:1px solid #b3b3b3}

.btnW a {display:none}
.btnW .moreBtn {display:block;width:100%;border-left:0;margin:0}

.dataSearch {width:100%;height:auto;margin:10px 0}
.dataSearch form {position:relative;display:block;width:100%}
.dataSearch fieldset {display:block;float:none;width:100%}
.dataSearch .selectBox1 {width:100%;margin-bottom:10px}
.dataSearch .keyword {clear:both;float:none;width:auto;padding:9px 80px 8px 0;text-indent:5px}
.dataSearch .searchBtn {position:absolute;right:0;bottom:0}

/* 2015-07-31 추가 */
.dataSearch .searchW {clear:both;float:none;position:relative;width:100%}
.dataSearch .searchW .keyword {display:block;}
}


/* Flickr */
*:first-child+html #divflickr {overflow:hidden}
#divflickr ul{padding:0 7px;overflow:hidden}
#divflickr ul li {display: block;float:left;padding:12px 14px 12px 14px;width:100px;height:140px;background-color:#ffffff;text-align:center;vertical-align:middle;border:none}
#divflickr ul li .photo {display:table-cell;position: static;width:100px;height:100px;margin:0 auto;padding:4px;background-color:#e7e8ea;vertical-align: middle;text-align:center}
#divflickr ul li .photo:hover {border:1px solid #999999}
*:first-child+html #divflickr ul li .photo {display:inline-block;position:static;vertical-align:middle;margin:auto;width:100px;height:100px}
#divflickr .photoTitle {display:block;width:100px;padding:4px 4px 0 2px;}
#divflickr .photoTitle a:hover {color:blue;text-decoration: none;}

/* Tab */
div.internetSite {margin-top:40px;font-size:0;}
div.internetSite strong {display:none;color:#fff;height:27px;text-align:left;padding:8px 20px 0 20px;cursor:pointer;font-weight:normal;font-size:14px;}
div.internetSite ul {font-size:14px;display:inline-block;}
div.internetSite ul li {float:left;}
div.internetSite ul li a {display:inline-block;height:27px;text-align:center;padding:8px 20px 0 20px;background:url(../../../../image/ko/solution/common/ico/faqTabLine.gif) no-repeat 0 50%;}
div.internetSite li.selected a {background:#2d89c6;color:#fff;}

@media (min-width:0px) and (max-width:767px){
	div.internetSite{font-size:0;position:relative;}
	div.internetSite strong{display:block;background:url(../../../../image/ko/solution/common/ico/faqArrow.png) no-repeat right -108px #2d89c6;}
	div.internetSite ul{display:none;position:absolute;top:35px;left:0;z-index:100;background:#2d89c6;width:100%;border-top:1px solid #2471a3;}
	div.internetSite ul li{float:none;border-bottom:1px solid #2471a3;}
	div.internetSite ul li a{display:block;height:auto;text-align:left;padding:8px 20px 8px 20px;background:none;color:#fff;} 
	div.internetSite ul.on{display:block;}
	div.internetSite li.selected{display:none;background:none;color:none;}
	div.internetSite strong.selected {background:url(../../../../image/ko/solution/common/ico/faqArrow.png) no-repeat right -157px #2d89c6;}
};}
}