@charset "utf-8";

@import url(facet.css);
@import url(common.css);

.searchBrief{position:relative;}
/* 목록 옵션 */
.searchOptions{padding:20px 0;border-bottom:1px solid #d7d7d7}
.searchOptions a{text-decoration:none}
.searchOptions:after{clear:both;content:"";display:block}
.searchOptions .f-L{float:left}
.searchOptions .allCheck{margin-right:40px}
.searchOptions .f-L > a{display:inline-block;min-height:16px;margin-bottom:10px;margin-left:30px;color:#646464;font-size:15px;padding-left:25px}
.searchOptions .f-L .searchOption1{margin-left:0;background:url(../../images/ico/briefIco1.png) no-repeat 0 0}
.searchOptions .f-L .searchOption2{background:url(../../images/ico/briefIco2.png) no-repeat 0 0}
.searchOptions .f-L .searchOption3{background:url(../../images/ico/briefIco3.png) no-repeat 0 0}
.searchOptions .f-R{float:right}
.searchOptions .searchOption4{display:inline-block;padding:3px 0 3px 30px;background:url(../../images/ico/briefIco4.png) no-repeat 0 0;color:#2c61da;font-size:15px}

/* 검색목록 */
.searchList > ul > li{padding:17px 0;border-bottom:1px solid #d7d7d7}
.searchList > ul > li .check{float:left;margin-right:30px}
.searchList > ul > li .num{float:left;min-width:20px;margin-right:5px}
.searchList > ul > li > a{display:block;margin-left:80px;text-decoration:none;color:#292929;font-size:16px;line-height:21px;}
.searchList > ul > li > a .highlight{color:#ee145b}
.searchList > ul > li > ul{margin:10px 0 0 80px}
.searchList > ul > li > ul:after{clear:both;content:"";display:block}
.searchList > ul > li > ul > li{float:left;margin-right:15px;padding-left:16px;background:url(../../images/ico/bar.gif) no-repeat 0 6px;color:#a1a1a1;font-size:14px;line-height:21px;}
.searchList > ul > li > ul > li:first-child{padding-left:0;background:none}
.searchList .dataInfo{margin:10px 0 0 80px}
.searchList .dataInfo:after{clear:both;content:"";display:block}
.searchList .dataInfo > a{float:left;margin-right:5px;margin-bottom:10px;padding:5px 10px;color:#2c61da;font-size:13px}
.searchList .dataInfo > button{float:left;margin-right:5px;margin-bottom:10px;padding:5px 10px;color:#2c61da;font-size:13px;line-height:100%;background:none;font-family:Roboto, NotoSans, sans-serif;cursor: pointer;}
.searchList .dataInfo .infoBtn1{padding:6px 11px;background-color:#2c61da;color:#fff}
.searchList .dataInfo .infoBtn2{border:1px solid #2c61da}
.searchList .dataInfo .infoBtn3{border:1px solid #2c61da}
.searchList .dataInfo .infoBtn3 span{display:block;padding-right:15px;background:url(../../images/ico/arrow3.png) no-repeat 100% 4px}
.searchList .dataInfo .infoBtn3.on span{background-position:100% -21px}
.searchList .abstractDetail{display:none;margin:10px 0 0 80px;padding:15px;background-color:#ededed;border:1px solid #ddd;font-size:14px;color:#555}

/* Paging */
.paging{margin:20px 0 20px}
.paging:after{clear:both;content:"";display:block}
.paging > .f-R{float:right;color:#a29e9b}
.paging > .f-R > div{float:right;overflow:hidden;}
.paging > .f-R > div > a{float:left;margin:10px 15px 0}
.paging > .f-R > div > a img{vertical-align: top;}
.paging > .f-R > div > input{float:left;margin-right:5px;color:#000;text-align:right;width:56px;height:24px;border:1px solid #d6d6d6}
.paging > .f-R > div > span{float:left;margin-top:7px;font-size:14px}
.paging > .f-R > p{clear:both;position:relative;top:10px;background-color:#434343;font-size:14px;color:#fff;height:26px;line-height:26px;padding:0 12px;border-radius:12px;}
.paging > .f-R > p span{position:absolute;top:-7px;right:20%;width:17px;height:8px;background:url(../../images/bg/talk.png) no-repeat 0 0}

/* More Data */
.moreData{position:relative;padding:70px 0 23px;background-color:#f8f8f8;border:1px solid #e3e3e3}
.moreData > ul{overflow:hidden}
.moreData > ul > li{float:left;width:25%}
.moreData > ul > li a{display:block;width:220px;margin:0 auto;color:#303030;font-size:14px}
.moreData > ul > li a img{width:218px;height:148px;margin-bottom:20px;vertical-align:top;border:1px solid #dbdbdb}
.moreData > ul > li a span{display:block;line-height:22px}
.moreData .more{position:absolute;top:21px;right:23px;padding:4px 20px;color:#303030;font-size:14px;background-color:#ebebeb;border:1px solid #c8c8c8}
 
/* 추천자료 */
.aside{position:absolute;top:189px;right:20px;width:220px}
.aside .recommend{position:relative;padding:25px 15px 15px;border:1px solid #efefef;background-color:#f4f4f4}
.aside .recommend .crown{position:absolute;top:-15px;left:50%;width:26px;height:34px;margin-left:-13px;background:url(../../images/ico/crown.png) no-repeat 0 0}
.aside .recommend > p{margin-bottom:30px;color:#414141;font-size:18px;text-align:center}
.aside .recommend > ul > li{margin-top:15px}
.aside .recommend > ul > li:first-child{margin-top:0}
.aside .recommend > ul > li > a{display:block;text-decoration:none;font-size:14px;color:#4a4a4a}
.aside .recommend > ul > li .dataType1{display:inline-block;padding:1px 5px;background-color:#ff4b00;color:#fff;font-size:12px;text-align:center;font-family:NotoSans, sans-serif;}
.aside .recommend > ul > li .title{display:block;margin-top:5px}
.aside .recommend > div{margin-top:25px;text-align:center;}
.aside .infoService{position:relative;margin-top:65px}
.aside .infoService.on{position:fixed;bottom:20px;margin-top:0}
.aside .infoService > p{padding:20px 45px 20px 15px;background-color:#444;color:#fff}
.aside .infoService > ul{background-color:#ffc820}
.aside .infoService > ul > li > a{display:block;padding:15px;color:#1f1f1f;font-size:16px;text-decoration:none;}
.aside .infoService > ul > li > a:hover, .aside .infoService > ul > li > a:focus{background-color:#ffd34d}
.aside .infoService > ul > li > a > span{display:inline-block;background-color:#444;color:#fff;border-radius:18px;padding:3px;min-width:18px;font-size:12px;font-family: Roboto, sans-serif;text-align: center;line-height: 100%;}
.aside .infoService .close{position:absolute;top:18px;right:20px;}
.aside .infoService .close img{vertical-align:top;}

@media (min-width:1025px) and (max-width:1300px){
    .aside{display:none}
    .moreData > ul > li a{width:170px}
    .moreData > ul > li a img{width:168px;height:110px}
}
@media (min-width:768px) and (max-width:1024px){
    .searchOptions .allCheck{margin-right:20px}
    .aside{display:none}
    .moreData > ul > li{float:none;width:auto;margin-top:20px}
    .moreData > ul > li:first-child{margin-top:0}
    .moreData > ul > li a{width:270px}
    .moreData > ul > li a img{width:268px;height:auto}
}
@media (min-width:0px) and (max-width:767px){
    .searchOptions .allCheck{margin-right:20px}
    .searchOptions .f-L{float:none}
    .searchOptions .f-R{float:none;padding-top:10px;text-align: right;}
    .searchList > ul > li > a{clear:both;margin-left:10px;padding-top:10px}
    .searchList > ul > li > ul{margin-left:10px}
    .searchList .dataInfo{margin-left:10px}
    .searchList .abstractDetail{margin-left:10px}
    .moreData > ul > li{float:none;width:auto;margin-top:20px}
    .moreData > ul > li:first-child{margin-top:0}
    .moreData > ul > li a{width:270px}
    .moreData > ul > li a img{width:268px;height:auto}
    .aside{display:none}
}