@charset "utf-8";

#container{width:auto}

.searchBrief:after{clear:both;content:"";display:block}

.brief{position:relative;width:1300px;margin:0 auto;padding-top:15px;}

.briefList{min-height:700px;margin-left:260px}

.briefContent{position:relative;}

/* 검색상단 */
.briefHead{margin-bottom:3px;padding-bottom:15px;border-bottom:2px solid #636363}
.briefHead:after{clear:both;content:"";display:block}
.briefHead > p{float:left;margin-bottom:10px;padding-top:10px;font-family:Roboto, NotoSans, sans-serif;font-size:16px}
.briefHead > p span{color:#ee145b;font-size:14px}

/* 제한검색 */
.inquire{float:right}
.inquire .selectBox1{float:left;padding:0 10px;border:1px solid #e6e6e6;margin-left:-1px}
.inquire select{height:33px;padding-right:20px;color:#646464;cursor:pointer;
    -webkit-border-radius:0;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:url(../../images/ico/arrow2.png) no-repeat 100% 50%;font-size:13px;border:none;
}
.inquire select::-ms-expand{display:none}
.inquire input{float:left;height:35px;font-size:13px;margin-left:-1px;}
.inquire input{border:1px solid #ccc;color:#000;padding:0 10px;background:#fff;cursor:pointer}
.inquire input:hover, .inquire input:focus{background-color:#333;color:#fff}

@media (min-width:1025px) and (max-width:1300px){
    .category .category1 > ul{width:auto}
	.category .category2 > ul{width:auto}
    .brief{width:auto}
}
@media (min-width:768px) and (max-width:1024px){
    .category .category1 > ul{width:auto}
	.category .category2 > ul{width:auto}
    .brief{width:auto;padding:15px 20px 0}
}
@media (min-width:0px) and (max-width:767px){
    .category .category1{overflow-x:auto}
	.category .category1 > ul{display:flex;width:auto;flex-wrap:nowrap}
	.category .category1 > ul > li{float:none;margin:0;padding:20px 20px}
	.category .category1 > ul > li > a{white-space:nowrap}
	.category .category2 > ul{width:auto}
    .brief{width:auto;padding:15px 10px 0}
    .briefList{margin-left:0}
}