@charset "utf-8";

.facet{position:absolute;top:0;left:0;width:230px;height:100%;border:1px solid #dedede;overflow-y:auto}
.facet > ul > li > a{display:block;padding:15px 20px;background:#293985;color:#fff;text-decoration:none;border-top:1px solid #444f85}
.facet > ul > li.type2 > a{background-color:#2c61da;border-top:1px solid #517ad7}
.facet > ul > li > a > span{display:block;padding-right:20px;background:url(../../images/ico/open.png) no-repeat 100% 0}
.facet > ul > li.on > a > span{background:url(../../images/ico/close.png) no-repeat 100% 0}
.facet > ul > li > div > div.more{padding-bottom:15px;text-align: center;}
.facet > ul > li > div > div.more button{border:none;padding:0 18px 0 0;background:url(../../images/ico/arrow3.png) no-repeat 100% 50%;font-family:NotoSansM, sans-serif;color:#2c61da;cursor: pointer;}
.facet > ul > li > div > ul.infoGraphicImg{padding-bottom:0}
.infoGraphicImg > li{padding:15px 0;text-align: center;}
.facet > ul > li > div > ul{padding-bottom:10px}
.facet > ul > li > div > ul > li{margin:0 20px;padding:8px 0}
.facet > ul > li > div > ul > li > a{display:inline-block;text-decoration:none;font-size:14px;font-family:NotoSans, sans-serif;color:#434343}
.facet > ul > li > div > ul > li > p{position:relative;padding-right:20px}
.facet > ul > li > div > ul > li > p > a{display:inline-block;text-decoration:none;font-size:14px;font-family:NotoSans, sans-serif;color:#434343;line-height:18px;}
.facet > ul > li > div > ul > li > p > button{position:absolute;top:0;right:0;width:16px;height:15px;background:url(../../images/ico/open2.jpg) no-repeat 0 0;border:none;text-indent:-9999px;overflow:hidden;cursor: pointer;}
.facet > ul > li > div > ul > li > div{display:none;}
.facet > ul > li > div > ul > li > div > ul{padding-top:5px}
.facet > ul > li > div > ul > li > div > ul > li{padding:8px 0 0 5px}
.facet > ul > li > div > ul > li > div > ul > li > a{position:relative;display:inline-block;padding-left:8px;color:#575656;font-size:14px;text-decoration:none;line-height:17px;}
.facet > ul > li > div > ul > li > div > ul > li > a span{position:absolute;top:0;left:0;}

@media (min-width:0px) and (max-width:767px){
    .facet{position:static;width:auto}
}