@charset "utf-8";
@media screen and (min-width:768px) and (max-width:1024px){
#divContentsW {padding:0 20px 40px 20px}
#divContents {width:100%;padding:0}
}
@media screen and (min-width:0px) and (max-width:767px){
#divContentsW {width:100%}
#divContents {width:100%;padding:0}
}

.reportBrief {width:100%;line-height:1}
span.title {position:absolute;top:-9999px;visibility:hidden;width:0;height:0;font-size:1%;line-height:0}

.searchWords{overflow: hidden;margin-bottom: 8px;}
.searchWords dl dt, .searchWordsdl dd{float: left; padding-top: 3px;color:#737373; line-height: 1.2;}
.searchKeyword span {color:#f37109}

.briefList {clear:both;width:100%}
.briefList h3 {padding-left:11px;margin:20px 0 10px 0;border-left:5px solid #248bd8;font-size:16px;color:#1a1a1a}
.briefList h3 span {font-size:13px;color:#4d4d4d}
.briefList ul {padding:0 20px;border:1px solid #e6e6e6;border-top:1px solid #b3b3b3}
.briefList li {position:relative;padding:18px 0 20px 0;border-top:1px dashed #ddd}
.briefList li:first-child {border-top:0 none}
.briefList dl {width:100%;line-height:1.4}
.briefList dt {width:100%;margin-bottom:3px}
.briefList dt a {font-size:16px;color:#1a1a1a}
.briefList li {min-height:10px}
.reportBrief ul .keyword {color:#305ed6}

.reportBrief li {padding-left:30px}
.reportBrief ul .num {position:absolute;left:0;top:19px;color:#1a1a1a;line-height:1.4}


.siteUrl a {display:block;width:100%;font-size:13px;color:#6a88bf;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.status.available {color:#305ed6}
.status.ing {color:#46b048}
.status.disabled {color:#ee2b2d}


/* 검색 영역 */
.dataSearch {width:566px;height:35px;margin:20px auto;text-align:center}
.dataSearch form {overflow:hidden;display:inline-block}
.dataSearch fieldset {float:left;width:auto !important}
.dataSearch .selectBox1 {float:left;width:95px;margin-right:5px;padding-right:0}
.dataSearch .keyword {float:left;width:388px;height:14px;padding:9px 5px 8px 5px;border:2px solid #248bd8;}
.dataSearch .searchW {float:left} /* 2015-07-31 추가 */
.dataSearch .keyword input {width:100%;border:0 none;outline:none}
.dataSearch .searchBtn {float:left;display:inline-block;width:66px;height:35px;margin-left:-2px;background:#248bd8;border:1px solid #1c7fca;text-align:center;color:#fff}


@media screen and (min-width:0px) and (max-width:767px){
.reportBriefMore .briefList ul {display:block;border-top:1px solid #b3b3b3}

.dataSearch {width:100%;height:auto;margin:10px 0}
.dataSearch form {position:relative;display:block;width:100%}
.dataSearch fieldset {display:block;float:none;width:100%}
.dataSearch .selectBox1 {width:100%;margin-bottom:10px}
.dataSearch .keyword {clear:both;float:none;width:auto;padding:9px 80px 8px 0;text-indent:5px}
.dataSearch .searchBtn {position:absolute;right:0;bottom:0}

.dataSearch .searchW {clear:both;float:none;position:relative;width:100%}
.dataSearch .searchW .keyword {display:block;}
}