@charset "utf-8";

/* Layout */
.contentsHeader{padding:35px 20px 20px}
.contentsHeader > div{width:auto}
#divTabMenu{width:auto}
#divContent{width:auto;padding:0 20px 70px}

/* Header */
.logo{margin-left:20px}

/* Global Menu */
#divGlobalMenu{display:none}

/* Whole Menu */
.wholeMenu > div{top:0;left:auto;right:0;width:320px;height:auto;background-image:none;background-color:#003471}
.mobileLogin{display:block;height:77px;padding:10px 15px;background-color:#022957}
.mobileLogin > ul{margin-bottom:30px;overflow:hidden}
.mobileLogin > ul > li{float:left;margin-left:15px}
.mobileLogin > ul > li:first-child{margin-left:0}
.mobileLogin > ul > li a img{width:20px;height:auto;vertical-align:top}
.mobileLogin > ul > li:first-child a img{width:24px;height:auto;}
.mobileLogin > div:after{clear:both;content:"";display:block}
.mobileLogin > div > span{float:left;font-family:NotoSansM, sans-serif;color:#fff}
.mobileLogin > div > a{float:right;margin-top:-5px;padding:5px 15px 7px;border:1px solid #8194ab;border-radius:20px;font-family:RobotoM,NotoSansM, sans-serif;color:#fff;line-height:100%;}
.wholeMenu .mobileClose{position:absolute;top:10px;right:15px;display:block}
.wholeMenu .mobileClose img{width:18px;height:18px}
.wholeMenu > div{position:fixed;height:100%}
.wholeMenu > div > span{display:none}
.wholeMenu > div > ul{position:relative;width:auto;height:auto;padding-top:10px}
.wholeMenu > div > ul > li{float:none;width:auto;border:none}
.wholeMenu > div > ul > li:hover{background:none}
.wholeMenu > div > ul > li > a{height:auto;padding:8px 15px;line-height:24px;letter-spacing:-1px;font-size:17px}
.wholeMenu > div > ul > li.on > a{display:inline-block;padding-right:15px;background:url(../../../../image/ko/local/menuArrow.png) no-repeat 100% 50%;background-size:6px 10px}
.wholeMenu > div > ul > li > ul{position:fixed;top:0;right:0;display:none;height:100%;margin-top:97px;padding:15px 0 115px;width:190px;box-sizing:border-box;overflow-y:auto}
.wholeMenu > div > ul > li.on > ul{display:block;background-color:#fff}
.wholeMenu > div > ul > li > ul > li{margin:0 10px;padding:0;}
.wholeMenu > div > ul > li > ul > li > a{display:block;padding:9px 5px;color:#2d2d2d;font-size:14px;font-family:NotoSansM, sans-serif;border-bottom:1px solid #ccc}
.wholeMenu > div > ul > li > ul > li.depth2 > a{background:url(../../../../image/ko/local/menuArrow2.png) no-repeat 97% -11px;background-size:8px auto}
.wholeMenu > div > ul > li > ul > li.depth2.on > a{background-position:97% 16px}
.wholeMenu > div > ul > li > ul > li > ul{display:none;padding:5px 10px;border-bottom:1px solid #ccc}
.wholeMenu > div > ul > li > ul > li > ul > li > a{color:#656565;font-size:13px}

/* Search */
#divSearch form{width:350px}

/* Tab Menu */
#divTabMenu{width:auto;margin-right:0;}
#divTabMenu > div{height:40px;overflow:hidden;position:relative;padding: 0 40px;background-color:#fff}

/* Footer */
#divFooter > div{width:auto;padding:0 20px}
#divFooter > div .ccMark{top:0;right:20px}