@charset "utf-8";

.searchArea .inputTextType5, .searchArea .btnType5 {margin-bottom:10px}
.searchArea .datePicker {width:80px}
.searchArea .selectBox1 {width:auto; min-width:95px}
.searchArea span.bunch {line-height:2.4em}

.listTable tr th {padding:10px 5px}
.listTable tr td {padding:14px 4px}
.listTable td.check				{width:5%; text-align:center;}
.listTable td.num				{width:5%; text-align:center;}
.listTable td.title				{width:auto; text-align:left;padding-left:10px;}
/*
.listTable td.accession_no	{width:10%; text-align:left;}
.listTable td.call_no		{width:10%; text-align:left;}
*/
.listTable td.loan_date			{width:85px; text-align:left;}
.listTable td.return_plan_date	{width:85px; text-align:center;}
.listTable td.overdue_amt		{width:60px; text-align:center;}
.listTable td.renew_count		{width:65px; text-align:center;}