@charset "utf-8";

/* 1:1 문의 */

/* contentHeader */
.contentHeader{position:relative;padding:20px 155px 20px 20px;}
.contentHeader a{position:absolute;top:10px;right:20px;}
@media screen and (min-width:0) and (max-width:767px){
	.contentHeader{position:relative;padding:20px;}
	.contentHeader a{position:relative;top:0;left:0;display:block;width:74px;margin-top:10px}
}

/* 1:1문의 리스트 - 처리상태 */
span.status1, span.status2, span.status3, span.status4, span.status5, span.status6{display:inline-block;width:50px;padding:2px 0;color:#fff;font-size:12px;text-align:center}
span.status1{background-color:#248bd8;}
span.status2{background-color:#f9ac09;}
span.status3{background-color:#935dd1;}
span.status4{background-color:#00b3a6;}
span.status5{background-color:#e93a3a;}
span.status6{background-color:#f18a06;}
label{position:relative;top:-3px;left:0;}
img.answer{width:30px;height:19px;vertical-align:bottom}
img.addedFile{width:12px;height:15px}
.boardList ul li span{left:20px}

/* 작성폼 */
.writeTable{margin-top:20px;}
.devide label{margin-right:10px;}