@charset "utf-8";

#divContents{overflow:hidden}
#divContent {max-width:640px;margin:0 auto;}

.findIdPw {border:1px solid #b8b8b8}
.findTab ul {overflow:hidden}
.findTab li {float:left;width:50%;height:50px;background:#f9f9f9;text-align:center;line-height:50px;}
.findTab .selected {background:#fff}
.findTab li a {display:block;height:49px;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;font-size:16px;color:#737373}
.findTab li:first-child a {border-left:0;border-right:1px solid #e6e6e6;}
.findTab .selected a {border:0 none;font-weight:bold;color:#1a1a1a}

.findSection {padding:20px 20px 0 20px;border-bottom:1px solid #e6e6e6}
.findTitle {position:relative;padding:0 0 16px 17px;color:#1a1a1a;font-weight:bold;line-height:1.4}
.findTitle input {position:absolute;left:0;top:2px;width:13px;height:13px}

.findNotice {padding:8px 10px 6px 10px;margin-bottom:10px;background:#eee;border:1px solid #e6e6e6;word-spacing:-1px;line-height:1.4}
.findContent dl {margin-bottom:10px}
.findContent dt {float:left;width:87px;height:33px;padding-left:10px;background:#eee;border:1px solid #e6e6e6;border-right:0 none;line-height:35px;font-weight:bold}
.findContent dd {margin-left:98px}
.findContent .certificationBtn {margin-bottom:10px}
.findContent .inputTextType1 {width:488px;border:1px solid #e6e6e6}
.findContent .btnType1 {display:block;text-align:center}
.findContent .certificationNum {margin-bottom:10px}
.findContent .certificationNum input {display:block;width:586px;background:#e8f9fe}
.findContent .submitBtn {margin-bottom:20px}
.findContent .submitBtn input {display:block;width:100%}

.findIdPw .notices {padding:15px 20px;background:#eee;line-height:1.6}


@media screen and (min-width:0px) and (max-width:767px){
.findContent .inputTextType1 {width:100% !important;height:35px;padding:0 5px;box-sizing:border-box}
}
