@charset "utf-8";
.pollDetail {border:1px solid #e7e7e7;border-top:1px solid #b3b3b3;line-height:1}
.pollDetail h3 {padding:15px 20px 13px 20px;background:#eee;border-bottom:1px solid #e6e6e6;color:#1a1a1a;font-size:16px;line-height:1.2}
.pollDetail .pollSummary {padding:20px;border-bottom:1px solid #e6e6e6;}

.pollDetail .pollSection {padding:20px;border-top:1px dashed #ddd}
.pollDetail li.pollSection:first-child {border-top:0 none}

.pollSection dl {width:100%}
.pollDetail .pollQuestion {margin-bottom:8px;font-weight:bold;color:#1a1a1a;line-height:1.2}
.pollSection dd {padding:10px;background:#f4f4f4}
.pollSection li {position:relative;padding-left:17px;margin-top:10px}
.pollSection li:first-child {margin-top:0}
.pollSection li input {position:absolute;left:0;top:0;width:13px;height:13px}

.pollSection .textarea {padding:5px;background:#fff;border:1px solid #ddd}
.pollSection textarea {width:100%;padding:0;border:0 none;outline:none;resize:none}
.pollSection .heightS {margin-top:5px}
.pollSection .heightS textarea {height:23px}
.pollSection .heightL textarea {height:68px}

.pollSection .levelTable table {width:100%;border:0;border:1px solid #ccc;border-collapse:collapse;empty-cells:show;background-color:#fff}
.pollSection .levelTable thead th {padding:7px;border:1px solid #e7e3bc;background:#fcf9ce;color:#614832;font-size:1em}
.pollSection .levelTable thead tr:first-child th {padding:7px;border:1px solid #d3d0a3;background:#fcf9ce;color:#70624a;font-size:1.2em;text-align:center}
.pollSection .levelTable td {padding:10px;border:0;border:1px solid #ddd;text-align:center}
.pollSection .levelTable td.question {text-align:left}
.pollSection .levelTable span.questionTxt {display:block;margin-bottom:5px}
.pollSection .levelTable tbody th {padding:10px;border:1px solid #ddd;background:#f7f7f7;color:#555}
.pollSection .levelTable .level {display:block;float:left;width:50%}

@media screen and (min-width:0px) and (max-width:767px){
	.pollSection .levelTable{overflow-x:scroll;}
	.pollSection .levelTable table{width:978px}
}