@charset "utf-8";

/* 신청 */
.memberRequest > div{float:right;width:50%;}
.memberRequest > div:first-child{float:left;}
.memberRequest > div > div{margin:0 0 20px 10px;padding:20px;background-color:#eee;border:1px solid #e6e6e6}
.memberRequest > div:first-child > div{margin:0 10px 20px 0;}
.memberRequest > div > div strong{display:block;margin-bottom:15px;color:#1a1a1a;font-weight:600;font-size:16px}
.memberRequest > div > div > div{min-height:75px;margin-bottom:40px}
.memberRequest > div > div > p{text-align:center;}
.iPinGuide{clear:both;padding:20px;border:1px solid #e6e6e6}
.iPinGuide strong{display:block;margin-bottom:15px;color:#1a1a1a;font-weight:600;font-size:16px}
.memberReqTit{margin-bottom:20px;padding-left:15px;background:url(../../../../image/ko/solution/common/subTitleBg.gif) no-repeat 0 50%;color:#1a1a1a;font-size:16px}

/* 작성 */
.searchArea label{position:relative;top:-3px}
.writeTable table th{text-align:right;padding:10px 20px}
.inputTextArea1{position:relative}
.inputTextArea1 p{margin-right:75px}
.inputTextArea1 a{position:absolute;top:0;right:0}
.emphasis{color:#f15d15}
.emphasisBg{background-color:#fcf9ce}
.bunch{position:relative}
.bunch .btnType1{position:absolute;top:0;right:0}
.agreementList{margin-bottom:10px}
.agreementList li{margin-bottom:6px}

/* 리스트 */
td.requestItem{text-align:left}
span.status1, span.status2, span.status3, span.status4, span.status5, span.status6{display:inline-block;width:62px;padding:0 0;color:#fff;font-size:12px;text-align:center}
span.status1{background-color:#f9ac09;}
span.status2{background-color:#e93a3a;}
span.status3{background-color:#00b3a6;}
span.status4{background-color:#248bd8;}
span.status5{background-color:#aaa;}
span.status6{background-color:#aaa;}

/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1024px){
	/* 신청 */
	.memberRequest > div{float:none;width:100%;margin-bottom:20px}
	.memberRequest > div:first-child{float:none;}
	.memberRequest > div > div{margin:0}
	.memberRequest > div:first-child > div{margin:0;}
	.memberRequest > div > div > div{min-height:auto;margin-bottom:40px}
}

/* 모바일 */
@media screen and (min-width:0) and (max-width:767px){
	/* 신청 */
	.writeTable table th{text-align:right;padding:0 10px;width:30%}
	.memberRequest > div{float:none;width:100%;margin-bottom:20px}
	.memberRequest > div:first-child{float:none;}
	.memberRequest > div > div{margin:0}
	.memberRequest > div:first-child > div{margin:0;}
	.memberRequest > div > div > div{min-height:auto;margin-bottom:20px}
	
	/* 작성 */
	td.photo{position:relative;padding:10px 95px 10px 20px}
	.photo input{width:100%}
	.photo a.btnType1{position:absolute;top:10px;right:20px}
}